body {
	font-family: Book Antiqua;
	color: white;
	font-size: 12px;
	line-height: 150%;
	background-color: #383838; 
}

h3 {
	margin-bottom: 6px;
}

a {
	color: white;
	text-decoration: none;
}

p {
	padding: 0px;
	margin: 0px;
}


/* ----------- TABLE ----------- */
table {
	border-collapse: collapse;
	font-size: 12px;
}

td {
	border: 1px solid white;
	vertical-align: top;
	padding: 6px;
}

table.tight_clean_table td {
	border: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

table.tight_clean td {
	border: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

table.clean td {
	border: 0px;
}

table.clean_centre td {
	border: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
}

table.line td {
	border: hidden;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

/* ----------- LIST ----------- */
ol {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	padding-left: 24px;
}

ol li {
	padding-left: 14px;
}

ol.in_table li {
	margin-left: 16px;
}


ul {
	margin-top: 3px;
	margin-bottom: 3px;
}

ul li {
	list-style-type: none;
	text-indent: -18px;
}

ul li::before {
	padding-right: 18px;
	margin-left: -6px;
}

ul.stroke_list li::before {
	content: "|";
}

ul li::before {
	content: "-";
}

.stroke {
	list-style-type: none;
	text-indent: -14px;
}
.stroke::before {
	content: "|";
	padding-right: 12px;
	margin-left: -6px;
}

/* ----------- DIV ----------- */
.hl, .hl2, .hl3 {
	display: inline;
	margin: 0px;
	padding: 0px;
	padding-right: 3px;
	padding-left: 3px;
}

.hl {
	background-color: rgba(213, 255, 0, 0.3);
}

.hl2 {
	background-color: rgba(0, 170, 170, 0.3);
}

.hl3 {
	background-color: rgba(170, 0, 0, 0.3);
}

.block {
	border: 1px solid white; 
	display: inline-block;
	vertical-align: top;
}

.grp {
	display: inline-block; 
	vertical-align: top;
}

/* ------------------------------------ */
.index {
	border: 2.5px solid white;
	display: inline-block; 
	padding: 24px;
	padding-left: 40px;
	font-size: 16px;
	font-weight: bold;
}

.checkbox {
	font-size: 16px; 
	display: inline;
}

.clean {
	border: none;
}

.packed{
	border: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
}

.code {
	font-family: Courier;
}

.button {
	display: inline; 
	border: 1px solid white; 
	padding-right: 6px;
	padding-left: 6px;
}

.button_black {
	display: inline; 
	border: 1px solid black; 
	padding-right: 6px;
	padding-left: 6px;
}



.tabblock {
	display: inline-block;
	vertical-align: top;
}

.hlred {
	display: inline;
	margin: 0px;
	padding: 0px;
	padding-right: 3px;
	padding-left: 3px;
	background-color: rgba(255, 0, 0, 0.3);
}

.hl_block {
	border: 2px solid greenyellow;
	margin: auto;
}


.menu {
	background-color: rgba(100, 100, 100, 0.3);
	margin-top: 0px;
	margin-bottom: 12px;
	padding: 6px;
}

